<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasting Notes</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <% if signed_in? %>
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
        </div> <!--! end of .container --> 
      </section> 
    <% else %>
      <section>
        <div class="container front-container">
          <div class="row">
            <div class="col-md-12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div> 
        </div> <!--! end of .container --> 
      </section> 
    <% end %>
    <footer>
      &copy 2015 Tasting Notes
    </footer>    
  </body>
</html>
